**/build/
**/target/
**/dist/

*.lock

3dPrinting/

controller_win/
mqtt_paho/
3dPrinting/
android_project/
windowscontrols/
rustStation/learnBasics/
rustStation/tests/
pdf_docs/

!esp_project/build/esp_project.bin